{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> *** PROFILE *** </h1>

    <h3> Faire une page TWIG pour particulier </h3>

    <ul>
        <li> bloc avec photo de profil / avis laissés / intérêts </li>
        <li> bloc avec modifier les préférences </li>
        <li> bloc avec modifier les commentaires </li>
    </ul>


    <br>
    <hr>
    <br>


    <h3> Faire une page TWIG pour professionnel </h3>

    <ul>
        <li> 1 onglet "Présentation" </li>
        <li> 1 onglet "Menu" </li>
        <li> 1 onglet "Lire les avis" </li>
    </ul>
  
</div>
{% endblock %}
