{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">


<body>

    
    <main>
  

        <div class="container profil">

                <div class="card_profil">

                <div class="photo-de-profil">
                    <img src="../images/photo_profil.jpg" alt="photo de profil">
                </div>

                <h2>Marie M</h2>

                <a href="#">Editer mon profil</a>

                <div class="container">

                <div class="row profil-part">
                        <div class="col avis-profil accordion-item">
                            <h2>Mes avis et commentaires</h2>
                              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <div class="un-avis-profil">
                                    <div class="notation">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                
                                        <span class="auteur">
                                            Marie M
                                        </span>
                                    </div>
                
                                    <div class="commentaire">
                                        J’ai adoré ce petit restaurant qui ne propose que des produits frais et locaux, SUPER!
                                    </div>
                                </div>
                              </button>

                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                <div class="un-avis-profil">
                                    <div class="notation">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                
                                        <span class="auteur">
                                            Marie M
                                        </span>
                                    </div>
                
                                    <div class="commentaire">
                                        J’ai adoré ce petit restaurant qui ne propose que des produits frais et locaux, SUPER!
                                    </div>
                                </div>
                                <div class="un-avis-profil">
                                    <div class="notation">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                                        <img src="../images/étoile_pleine.svg" alt="une etoile">
                
                                        <span class="auteur">
                                            Marie M
                                        </span>
                                    </div>
                
                                    <div class="commentaire">
                                        J’ai adoré ce petit restaurant qui ne propose que des produits frais et locaux, SUPER!
                                    </div>
                                </div>
                              </div>
                          </div>

                          <div class="col filtres_produits">

                            <h2>Mes intêrets</h2>

                        <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                            <input type="checkbox" class="btn-check" id="btncheck4" autocomplete="off">
                            <label class="bouton veggie" for="btncheck4"><img src="../images/veggie.svg" alt="veggie"></label>
                          
                            <input type="checkbox" class="btn-check" id="btncheck5" autocomplete="off">
                            <label class="bouton vegan" for="btncheck5"><img src="../images/vegan_selected.svg" alt="vegan"></label>
                          
                            <input type="checkbox" class="btn-check" id="btncheck6" autocomplete="off">
                            <label class="bouton vrac" for="btncheck6"><img src="../images/vrac.svg" alt="vrac"></label>
        
                            <input type="checkbox" class="btn-check" id="btncheck7" autocomplete="off">
                            <label class="bouton bio" for="btncheck7"><img src="../images/bio_selected.svg" alt="bio"></label>
        
                            <input type="checkbox" class="btn-check" id="btncheck8" autocomplete="off">
                            <label class="bouton local" for="btncheck8"><img src="../images/Local.svg" alt="local"></label>
        
                          </div>
                        </div>

                    </div>
                </div>

          </div>

    </main>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>


  
</div>
{% endblock %}
