{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
   
 
<body>
  

    <main>
    <div class="about_us_container ">



    <div class="about_us_text1">
        <h1>Qui sommes nous?</h1>
        <p>Une petite équipe déterminé à donner plus de visibilité aux professionels engagés pour une alimentation durable. </p>
    </div>

    </div>

    <div class="about_us_container2">

        <div class="carton">
            <h2>Notre charte</h2>
            <p>Notre garantie qualité en lettres, et en chiffres.</p>
        </div>
      


<div class="aboutus_benefits">


<div class="test row">

    <div class="veggie_benefit col">
        <img src="../images/veggie.svg" alt="veggie">
        <p>Chaque établissement avec ce badge propose au moins <br><span>50%</span><br>de plats végétariens</p>
    </div>

    <div class="vegan_benefit col">
        <img src="../images/vegan_selected.svg" alt="vegan">
        <p>Chaque établissement avec ce badge propose <br><span>plusieurs plats vegan</span></p>
    </div>

    
</div>

<div class="row bio-local">

    <div class="bio_benefit col">
        <img src="../images/bio_selected.svg" alt="bio">
        <p>Chaque établissement avec ce badge propose une <br><span>majorité de produits certifiés bio</span></p>
    </div>
    
    <div class="local_benefit col">
        <img src="../images/Local.svg" alt="local">
        <p>Chaque établissement avec ce badge propose plusieurs produits dont l'origine se trouve à<br><span>moins de 50 km</span></p>
    </div>
</div>



<div class="vrac_benefit">
    <img src="../images/vrac.svg" alt="vrac">
    <p>Chaque ce produit avec ce badge propose ses produits en vrac, et/ou n'utilise <br><span>aucun emballage plastique</span></p>
</div>
        
        
</div>

       

    </div>
</main>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>


  
</div>
{% endblock %}
