{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> *** HOME PAGE *** </h1>
 
    <hr>
    <br>

    <h3> Prévoir API Google pour intégrer la MAP </h3>
    <h5> // prévoir une page TWIG avec du JS intégré // </h5>

    <ul>
        <li> 1 - Champ de recherche d'adresse  </li>

        <li> 2 - Bouton de filtre - <strong> JS addEventlistener </strong> au clic du bouton qui ouvre une recherche par filtre </li>
   
        <li> 3 - Google Maps </li>

        <li> 4 - Encart avec un top 3 des lieux (1bar, 1resto, 1épicerie) </li>

        <li> 5 - affichage des lieux correspondant à la recherche. <br> Chaque résultat est cliquable et affiche dans un premier temps une pop up avec l'ensemble des informations de l'établissement, réparties en 3 onglets d'informations (présentation, menu, avis) </li>

        <li>  ne pas oublier d'intégrer les liens des réseaux sociaux </li>

    </ul>







  
</div>
{% endblock %}
