{% extends 'base.html.twig' %}

{% block title %}LaBelleBleue{% endblock %}


{% block body %}

{% block javascripts %}

    {{ parent()}}
      <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
   <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-core.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-service.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-ui.js"
  ></script>
  <script
    type="text/javascript"
    src="https://js.api.here.com/v3/3.1/mapsjs-mapevents.js"
  ></script>
  <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.1/mapsjs-ui.css" />
{% endblock %}
<!DOCTYPE html>
<html lang="fr">

<body>

 
    
    <main>
      <div class="container fond-home">
        <h1>Localisez les bonnes adresses de l’alimentation bio, veg’ et locale autour de vous !</h1>
        <div class="container d-flex justify-content-between">
            <!-- Barre de recherche  -->
            <form class="barre-recherche">
            <input class="adresse form-control me-2" type="search" placeholder="Votre adresse" aria-label="Search">
            <button class="btn localisation"><img src="../images/localisation.svg" alt="localisation" class="localisation"></button>
            </form>

            <!-- Bouton filtrer -->
            <button type="button" class="btn filtrer"> <img src="../images/icon_filtrer.svg" alt="filtrer"/> Filtrer</button>
        </div>


        <div class="container home">

            <div class="row home">
              <div class="block-resultat col-sm-4">
                    <div class="titre-resultat text-center">
                        <h2>Résultats</h2>
                        <p>#restaurant    #épicerie    #bar    #veggie    #vrac</p>
                    </div>

                    <div class="les-resultats">

                  <div class="un-resultat d-flex align-items-center">
                      <div class="image-commerce"></div>
                        <div class="texte-resultat">
                            <h3>Nom du restaurant</h3>
                            <p class="resto-texte d-flex align-items-center">Restaurant</h3>
                                        <div class="gamme-de-prix">
                                            <img src="../images/euro.svg" alt="euro" class="euro">
                                        </div>
                                        <div class="avis-moyenne">
                                            <img src="../images/étoile_pleine.svg" alt="etoile pleine"> <img src="../images/etoile_vide.svg" alt="étoile vide">
                                        </div>
                        </div>
                  </div>

                  <div class="un-resultat d-flex align-items-center">
                    <div class="image-commerce"></div>
                      <div class="texte-resultat">
                          <h3>Nom de l'épicerie</h3>
                          <p class="epicerie-texte d-flex align-items-center">Epicerie</h3>
                                      <div class="gamme-de-prix">
                                        <img src="../images/euro.svg" alt="euro" class="euro">
                                      </div>
                                      <div class="avis-moyenne">
                                            <img src="../images/étoile_pleine.svg" alt="etoile pleine"> <img src="../images/etoile_vide.svg" alt="étoile vide">
                                      </div>
                      </div>
                </div>

                <div class="un-resultat d-flex align-items-center">
                    <div class="image-commerce"></div>
                      <div class="texte-resultat">
                          <h3>Nom du bar</h3>
                          <p class="bar-texte d-flex align-items-center">Bar</h3>
                                      <div class="gamme-de-prix">
                                        <img src="../images/euro.svg" alt="euro" class="euro">
                                      </div>
                                      <div class="avis-moyenne">
                                            <img src="../images/étoile_pleine.svg" alt="etoile pleine"> <img src="../images/etoile_vide.svg" alt="étoile vide">
                                      </div>
                      </div>
                </div>

                <div class="un-resultat d-flex align-items-center">
                    <div class="image-commerce"></div>
                      <div class="texte-resultat">
                          <h3>Nom du bar</h3>
                          <p class="bar-texte d-flex align-items-center">Bar</h3>
                                      <div class="gamme-de-prix">
                                        <img src="../images/euro.svg" alt="euro" class="euro">
                                      </div>
                                      <div class="avis-moyenne">
                                            <img src="../images/étoile_pleine.svg" alt="etoile pleine"> <img src="../images/etoile_vide.svg" alt="étoile vide">
                                      </div>
                      </div>
                </div>
                
            </div>

              </div>
              <div class="map col-sm-8">
                <iframe scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=2.2182083129882817%2C48.80878537738899%2C2.432613372802735%2C48.9089620134408&amp;layer=mapnik" style="border: 0" width="100%" height="100%" frameborder="0"></iframe>
              </div>
            </div>

          </div>

      </div>

    </main>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>



	


{% endblock %} 