{% extends 'base.html.twig' %}

{% block title %}LaBelleBleue{% endblock %}


{% block body %}


<main>
  <div class="container fond-home">
    <div id="homepage"></div>
  </div>
</main>
{% endblock %} 