{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}


    <h1> INSCRIPTION </h1>
    <div>
        <h3 class="inscription_patt_1_secondtitle">Vous êtes : </h3>
    </div>


    	<nav class="log-nav">

            {#    ci-dessous, on affiche un contenu différent suivant les droits de l'utilisateur #}
            {% if is_granted("ROLE_USER") %}
    {#            1/ si l'utilisateur est connecté et a bien rentré sont login + mot de passe, #}
    {#            il a automatiquement au moins le role "ROLE_USER", et voit donc un #}
    {#            "bonjour" suivi de son prénom, ainsi qu'un lien pour se déconnecter #}
                <span>
                    Bonjour {{ app.user.name }}, Vous êtes déjà inscrit !
                </span>

            {% else %}
    {#            Sinon, l'utilisateur n'est pas connecté, et on affiche un lien vers le formulaire de login #}
    {#            et un autre vers la page de création de compte #}
                <span>
                    <button class="bouton_bleu bouton_co">
                    <a href="{{ path("RegistrationPart") }}">Consommateur engagé</a>
                    </button>
                </span>
                <span>
                    <button class="bouton_bleu bouton_co">
                    <a href="{{ path("RegistrationPro") }}">Professionnel engagé</a>
                    </button>
                </span>
            {% endif %}

    <hr>
    





   




{% endblock %}
