/******************************** FOOTER ********************************/
footer {
	background-color: #1C9DC6;
	color: white;
	text-align: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: baseline;
	-ms-flex-align: baseline;
	align-items: baseline;
	padding: 2em;
}
    footer a  {
    color:$white;
    text-decoration: none;
    padding: 8px 3em;
    }
    
    footer a:hover {
    color:$white;
    }
    /******************************** FOOTER MOBILE********************************/
    @media screen and (max-width: 640px) {
    footer {
        display:none;
    }
}