$white: rgb(255, 255, 255);
$green:#2b9780;
$blue:#1C9DC6;
$corps:rgb(59, 59, 59); 
$shadow: 0px -2px 12px rgb(204, 204, 204);
$black:rgb(82, 82, 82);

/******************************** Header ********************************/
header {
	background-image: url(../images/header.png);
	background-repeat: no-repeat;
	margin-top: -1px;
	height: 12em;
}
/******************************** Barre de navigation ********************************/
nav {
	display: flex;
	justify-content: center;
}

.liens-nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	text-align: right;
	margin-top: 3em;
    text-transform: uppercase;
}

#menu-checkbox, .menu-toggle, .menu-croix {
	display: none;
}
nav a  {
	color: $white;
	text-decoration: none;
    height: 2em;
    display: block;
}
nav a, .liens-nav a {
    color: #fff;
}
nav a::after {
	content: '';
	display: block;
	width: 2px;
	height: 2px;
	background: white;
	-webkit-transition: .5s;
	transition: .5s;
	position: relative;
	opacity: 0;
	top: 4px;
}

nav a:hover::after {
    color: $white;
    width: 100%;
    opacity: 1;
    //transition: width .3s;
}

nav img {
	width: 19px;
	position: relative;
	top: -1px;
	margin: 4px;
}
/******************************** LOGO ********************************/

.logo img {
	width: auto;
	margin: -25px 0;
}

.logo::after {
	display: none;
}

.logo-mobile {
	display: none;
}

@media screen and (max-width: 640px) {
	/******************************** Barre de navigation ********************************/
	nav {
		justify-content: start;
	}
    nav a {
        padding: 26px 1em;
        color: #043A5B;
    }
	nav img {
		width: 24px;
		margin: 0 14px;
	}
	.liens-nav {
		max-height: 0;
        left: 0;
		overflow: hidden;
		text-align: left;
		position: absolute;
		left: -4em;
		top: 4em;
		flex-direction: column;
		background-color: #B7C8CE;
		z-index: 2;
		height: 30%;
        top: 0;
        transition: .7s;
        border-radius: 0 10px 10px 0;
	}
	#menu-checkbox, .menu-toggle, .menu-croix {
		display: block;
	}
	.menu-croix, .menu-checkbox:checked ~ .menu-toggle{
		display: none;
	}
	.menu-checkbox:checked ~ .liens-nav {
		max-height: 1000px;
		left: 0px;
	}
	.menu-checkbox:checked ~ .menu-croix, .menu-toggle {
		display: block;
		color: white;
		font-size: 2rem;
	}
	.menu-checkbox {
		opacity: 0;
		position: absolute;
		top: -1000px;
	}
	.menu-toggle {
		font-size: 3rem;
		color: white;
	}
	/******************************** LOGO ********************************/
	.logo {
		display: none;
	}
	.logo-mobile {
		display: block;
		position: absolute;
		top: 3em;
		right: 5em;
	}
	.logo-mobile img {
		width: 13em;
	}
}