<form method="post" action="{{ path('establishment_staff_admin_delete', {'id': establishment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ establishment.id) }}">
    <button class="btn">Delete</button>
</form>
